<h1>Tareas a realizar </h1>

<ul>
  <li><%= link_to "Endpoint / users", users_index_path %> </li>
  <li><%= link_to "Endpoint /trending/:n", users_trending_path %></li>
  <li><%= link_to "Endpoint /influencers", users_influencer_path %></li>
  <li><%= link_to "Visualización publicaciones", posts_index_path %></li>
</ul>
